<center><h1 >Text Helper</h1></center>
<div ng-cloak>
    <div class="row">

        <div class="col-md-6">
            <h1 >Enter your text:</h1>

            <md-input-container>
                <label>Text</label>
                <textarea name="bio" ng-model="text" required id="text"
                          rows="10" style="width:400px"></textarea>

            </md-input-container>

            <br/>
            <md-button class="md-raised md-primary" ng-click="findDuplicates()">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find duplicates
            </md-button>


        </div>

        <div class="col-md-6" >
            <style>
                .resultP span {
                    color: red;
                }
            </style>
            <p style="font-family: Courier;" class="resultP"
               ng-bind-html="result">
            </p>

        </div>
    </div>
</div>
